<!DOCTYPE html>
<head>
    <style>
        body {
          background-image: url({{ bgi }});
          background-repeat: no-repeat;
          background-attachment: fixed;  
          background-size: cover;
        }
    </style>
    <title>Sohel Shaikh</title>
</head>
<body>
    <div style="color: floralwhite;font-family: courier;text-align:center;font-size:30px;" align="centre">
        
    <h1>Hello and Welcome to Kubernetes MiniProject</h1><br>
    <h2 style="color: greenyellow;">This project demonstrate connection of flask and mysql</h2>


    </div>
